
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Layoutpage</title>
		<header>
				This is my header
		</header>
		<nav>
			this is my nav
		</nav>
	</head>
	<body>
		<%= yield %>
	</body>
	
	<footer>
		this is my footer
	</footer>

	</html>

