
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bitmakers CRM</title>
	<link rel="stylesheet" type="text/css" href="/style.css">	
	<center><nav class="nav">
		<a href="/">HOME</a> |
		<a href="/contacts">VIEW ALL CONTACTS</a> |
		<a href="/contacts/new">ADD A CONTACT</a> |
	</nav></center>
	
</head>
<body>
	<div class="container">
		<div class="column-left"><%= yield %></div>
		<div class="column-right">
			<h1>Here's a cat gif!</h1>
			<center><img src="http://www.cutecatgifs.com/wp-content/uploads/2013/11/YD0MuaF.gif" alt="icanhazclapz"></center>
		</div>
	</div>
		<footer>
			<p>Bitmaker Labs &copy;2015</p>
		</footer>
	</body>
	
	</html>